.App {
	text-align: center;
	background-color: #8758ff;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
}

.spacing{
  margin-top: 71.76px;
}

.content {
	background-color: #1e123b;
	width: 743.81px;
	height: 495.36px;
	border-radius: 7.72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
	color: #fcfcfc;
}

.data {
	color: #8758ff;
}

.inputMain {
	width: 308.64px;
	height: 42.44px;
	background-color: transparent;
	border: 1px solid #fcfcfc;
	border-radius: 8px;
	color: #fcfcfc;
	padding-left: 10px;
}

.contentList {
  width: 674.37px;
  height: 50px;
  background-color: #FCFCFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;

}

.contentCheck {
  display: flex;
  width: auto;
  gap: 5px;
  align-items: center;
}

.description {
  color: #25282C;
  font-size: 16px;
}

.contentEdit {
  display: flex;
  width: auto;
  gap: 1px;
  align-items: center;
}

.contentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.95px;
  height: 33.95px;
  border: 1px solid #1E123B;
  border-radius: 8px;
}

.buttonMain {
  width: 201.38px;
  height: 49.38;
  border: 2px solid #FCFCFC;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px;
  color: #FCFCFC;
  position: relative;
  top: 2%;
  left: 19.5%;
}